{% extends 'base.html' %}

{% block title %}Home{% endblock %}
{% block content %}
    <h1 >Goals</h1>
    <div class="goal_container">
        <h3>Habit Type: {{ goal }}</h3>
        <p>Start Date: {{ goal.goal_date }}</p>
        <p>Starting Value: {{ goal.current_value }}</p>
        <p>Goal Value: {{ goal.goal_value }}</p>
        <p>Description: {{ goal.description }}</p>
        <a href={% url 'edit-goal' goal.id %}>Edit Goal: {{ habit_goal }}</a>
    </div>
    <h1>Daily Updates</h1>
    {% for tracker in goal.Trackers.all %}
    <p>{{ tracker.check_in_date }} Daily Value: {{ tracker.todays_value }}   <a href={% url 'edit-tracker' tracker.id %}>Edit</a>
    <p>Notes: {{ tracker.notes }}</p>
    </p>

    {% endfor %}
{% endblock %}